<div>
  <!--
  <div class="text-nav"> <a href="">About</a> <span>•</span> <a href="">Projects</a> </div>
  -->
  <h1>My projects</h1>
  <div id="projects">
    <p class="centered">Apps</p>
    <a href="https://github.com/blue-pitaya/stopwatch"
      >https://github.com/blue-pitaya/stopwatch</a
    >
    <a href="https://github.com/blue-pitaya/chessboard"
      >https://github.com/blue-pitaya/chessboard</a
    >
    <p class="centered">Libs</p>
    <a href="https://github.com/blue-pitaya/scala-d3-force"
      >https://github.com/blue-pitaya/scala-d3-force</a
    >
  </div>
  <div style="margin-top: 30px">
    <img src="img/coding_book.png" class="book" />
  </div>
</div>
