<div class="home">
  <h1>Home</h1>
  <p>
    Hello! I'm blue pitaya, aka kodus8. This is my homepage where i put some
    stuff that I like. Checkout page about using neovim as IDE. Currently
    focusing on scala and vue.js development support, but most solutions can be
    applied for any lang.
  </p>
  <p>Linux page will be updated, but not soon I think.</p>
  <p>Also checkout important videos on fun stuff page.</p>
  <p>
    Contact me if you want:
    <span class="blueAddress">blue.pitaya@pm.me</span><br />
    My github page: <a href="https://github.com/blue-pitaya">blue-pitaya</a>
  </p>
</div>
