<div class="container">
  <h1>I use arch btw</h1>
  <p>
    Ackshually i use <a href="https://artixlinux.org/">Artix Linux</a>. It's
    like arch linux but without systemd. Also i don't use any major graphics
    shell. I prefer simple X11 with some
    <a href="https://suckless.org/">suckless tools</a> like dwm, dmenu and st.
    My forks of these programs are on my
    <a href="https://github.com/blue-pitaya">github</a>.
  </p>
  <p>More content coming soon...</p>
  <div style="margin-top: 30px; margin-bottom: 50px">
    <img
      id="tux-image"
      src="img/artix_tuxo.png"
      alt="tux gives you artix os installation cd"
    />
  </div>
</div>
