.goblin-color {
  color: var(--niceGreen);
}

.mynote-color {
  color: var(--blue-ass-water);
}

.shh-color {
  color: var(--ligray);
}

.funky-color {
  color: var(--pinkOverride);
}

.book {
  width: 300px;
}
