h2.colored {
  color: #f0c3f0;
}

.reloadLink {
  cursor: pointer;
  user-select: none;
}

.fun-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
