@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src: url("fonts/iosevka-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: italic;
  src: url("fonts/iosevka-italic.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  src: url("fonts/iosevka-bold.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: italic;
  src: url("fonts/iosevka-bolditalic.woff2") format("woff2");
}

html {
  background: #0f0f0f;
  font-size: 1.1rem;
  width: 100%;
}

body {
  font-family: Iosevka Web, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #f0f0f0;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

h1 {
  font-size: 2.2rem;
  color: #f0c3f0;
  font-weight: bold;
}

h2 {
  color: #c28246;
  font-weight: bold;
}

p {
  text-align: justify;
}

a {
  font-weight: bold;
  color: #fff7bd;
  text-decoration: none;
}

a.router-link-active {
  color: #42b983;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(100px);
  }
}

.shaggy {
  width: 100px;
  position: fixed;
  top: 0;
  left: -100px;
  animation: slideInFromLeft linear 5s forwards;
}

:root {
  --gray: #202020;
  --ligray: #505050;
  --blue-ass-water: #548be3;
}

#nav {
  padding: 30px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  flex-wrap: wrap;
}

.imageRouterLink {
  display: flex;
  flex-direction: column;
  width: 180px;
  gap: 10px;
  background-color: var(--gray);
  padding: 10px;
}

@media all and (max-width: 600px) {
  .imageRouterLink {
    display: flex;
    flex-direction: column;
    width: 150px;
    gap: 5px;
    background-color: var(--gray);
    padding: 10px;
  }
}

.blueAddress {
  color: #99f8ff;
}

img#tux-image {
  width: 420px;
}

.nvim-container {
  text-align: left;
}

.margined {
  margin-top: 50px;
}

.github-icon {
  width: 24px;
  height: 24px;
}

.fun-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

p.centered {
  text-align: center;
}

h2.colored {
  color: #f0c3f0;
}

.book {
  width: 300px;
}

.text-nav {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  font-size: 1.2rem;
  margin-bottom: 20px;
  background-color: var(--gray);
  padding: 10px;
}

#projects a {
  display: block;
}

noscript {
  color: red;
  font-weight: bold;
}

ul {
  text-align: left;
}

.mynote {
  color: var(--blue-ass-water);
}

.shh {
  color: var(--ligray);
}

.funky {
  color: #eb21e4;
}
